@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import "../style/text-animation.scss";
@import "../style/theme.scss";
* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #adadad;
	// border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $primary-green;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #5a959b;
}
body {
	font-family: "Oswald", sans-serif;
	// margin-top: 2vh;
	// margin-left: 4vw;
	// margin-right: 4vw;
	transition: 0.3s;
	color: $primary-black;
	background-color: #eef0f1ad;
}

#root {
	overflow: hidden;
}

p {
	font-size: 0.8rem;
	color: $basic-text-color;
	margin: 0;
}

p.bold {
	font-weight: 700;
}

button {
	border: none;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: $primary-green;
	color: white;
	border-radius: 7px;

	&:hover {
		transform: scale(1.01);
	}
}

a {
	text-decoration: none;

	color: black;
	transition: 0.3s;
	&:hover {
		text-decoration: none;
		color: $primary-green;
	}
}
select {
	padding-left: 0.7rem;
	width: 100%;
	height: 3rem;
	border: $thin-border;
	outline: none;
	font-size: 0.8rem;
	color: $basic-text-color;
	background-color: $input-gray;
	&:focus {
		border: none !important;
	}
}

/* TEXT */

.big-title {
	font-size: 2.5rem !important;
	font-weight: 700 !important;
}
.text-black {
	color: $primary-black !important;
}

.text-green {
	color: $primary-green !important;
}

.text-gray {
	color: rgb(109, 109, 109);
}
.medium-title {
	font-size: 1.1rem !important;
	font-weight: 600 !important;
}

label {
	float: left;
	margin: 0;
	font-size: 0.8rem;
	color: $basic-text-color;
	font-weight: 400;
}
