.fadeInBottom {
	animation-name: fadeInBottom;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.fadeOutBottom {
	animation-name: fadeOutBottom;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.fadeInTop {
	animation-name: fadeInTop;
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOutBottom {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes fadeInTop {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
	}
}
