//GENERAL
$primary-green: #56b0b8;
$primary-black: #555555;
$primary-orange: #f8d006;
$primary-blue: #80a6e4;
$secondary-black: #202124;

$basic-text-color: rgb(75, 75, 75);
$basic-hover-color: rgb(236, 144, 6);
$basic-dark: rgba(8, 8, 8, 0.877);
$basic-gray: rgb(204, 204, 204);
$theme-bg-color: white;
$dropdown-background-color: rgb(250, 248, 248);
$hover-background-color: rgb(194, 194, 194);
$basic-blue: #677eff;
$basic-yellow: #fdde4d;

$thin-border: 1px solid rgba(128, 128, 128, 0.24);
$input-gray: rgba(209, 209, 209, 0.322);
$input-focus: rgba(209, 209, 209, 0.514);
//NAVBAR
$nav-text-color: rgb(88, 88, 88);
$nav-text-size: 16px;

//SIDEBAR
$sidebar-background-color: rgb(236, 236, 236);
$sidebar-text-color: black;
$sidebar-return-btn-color: gray;
$sidebar-return-btn-hover-color: $primary-orange;

$box-shadow-full: 0 19px 38px rgba(0, 0, 0, 0.3),
	0 15px 12px rgba(0, 0, 0, 0.22);
$box-shadow-medium: 0 10px 20px rgba(0, 0, 0, 0.19),
	0 6px 6px rgba(0, 0, 0, 0.23);

//PRODUCTS PAGE
$category-sidebar-bg: rgb(228, 228, 228);
$product-icon-color: gray;
$product-icon-hover-color: $primary-green;

//PRODUCT
$product-card-width: 18rem;
$product-card-height: 22rem;
